body {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb) !important;
}
select,
body {
  font-family: "Archivo", sans-serif !important;
}
.container {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 8px;
  padding: 2rem;
}
.form-region-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
select {
  margin-top: 5em !important;
  margin-bottom: 5em !important;
  width: 300px;
}
button {
  font-family: "Poppins", sans-serif !important;
}
hr:not([size]) {
  height: 3px !important;
}
hr {
  background: #333;
  opacity: 0.5 !important;
}
